body, html {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

/* This section formats the skip to main content link */

.skip_link {
    display: flex;
    font-size: 150%;
    color: whitesmoke;
    text-decoration: none;
    padding: 2%;
}


/* This section is related to formatting the top navigation bar */


.nav_bar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  background-color: black;
}

.nav_bar li {
  margin: 2%;
}

.nav_bar a{
    color: white;
    font-size: 200%;
    text-decoration: none;
    text-align: center;
}

.nav_bar a:hover{
    background-color: rgb(18, 18, 18);
}

.nav_bar p {
    font-size: 200%;
    color: white;
}


/* This section formats the page title */

h1 {
    color: white;
    text-align: left;
    font-size: 450%;
    padding-left: 10%;
    margin: 0px;
    background-color: black;
    
}


/* This section formats the video */

#welcome_video {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 5%;
}

 #welcome_video video{
    border: 10px solid darkgray;
    width: 200%;
    height: auto;
}


/* This section formats the welcome text at the bottom */
 
#welcome_text {
    text-align: center;
    font-size: 300%;
    padding: 5%;
    color: black;
    background-color: white;
    margin-top: 10%;
    margin-bottom: 0px;
}